*~
node_modules
test
.cslValidationPos
fixtures/styles/**
!fixtures/styles/.gitkeep
!fixtures/styles/jm-japan-tourism-review/*_*.txt
!fixtures/styles/jm-japan-sociological-society/*_*.txt
!fixtures/styles/antarctic-science/*_*.txt
