div.csl-indent {
    margin-top: 0.5em;
    margin-left: 2em;
    padding-bottom: 0.2em;
}

div.heading {
    border-top: 1px solid black;
}

div.csl-bib-body {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
    margin-bottom: 1em;
}

div.csl-entry {
	margin-left: 4em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
